* {
  box-sizing: border-box;
}

body {
  background-color: #d2dbdc;
  margin: 0;
  font-family: 'Segoe UI', Helvetica Neue, Helvetica, Lucida Grande, Arial;
}

.app-window {
  display: flex;
  height: 100vh;
  /* width: 100vw; */
  background-color: #ededed;
}

.sidebar {
  width: 35vw;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.header--info {
  display: flex;
  align-items: center;
}

.header--username {
  user-select: none;
}

.header--more {
  display: none;
}

.header--avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 8px;
}

.header--buttons {
  display: flex;
}

.header--btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search {
  background-color: #f6f6f6;
  border-bottom: 1px solid #eee;
  padding: 8px 15px;
}

.search--input {
  background-color: #fff;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.search--input input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  margin-left: 10px;
}

.chatlist {
  flex: 1;
  background-color: #fff;
  overflow-y: auto;
}

.chatlist::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.chatlist::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.contentarea {
  width: 65vw;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: fit-content;
  }
  .sidebar header {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 12px 4px;
  }
  .sidebar .header--buttons {
    flex-direction: column;
  }
  .sidebar .header--info {
    flex-direction: column;
  }
  .sidebar .header--avatar {
    margin: 0;
  }
  .sidebar .header--username {
    display: none;
  }
  .sidebar .header--more {
    display: block;
    margin-top: 10px;
  }
  .sidebar .sidebar-hidden {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    width: 80%;
  }
  .sidebar .search {
    background-color: #fff;
  }
  .sidebar .search--input {
    background-color: #ededed;
  }
  /* .sidebar .chatlist {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
  } */
  .contentarea {
    width: 100%;
  }

  .sidebar.open header {
    position: absolute;
    left: 0;
    z-index: 10;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    padding: 12px 4px;
    background-color: #ededed;
    width: 100vw;
  }
  .sidebar.open .header--buttons {
    flex-direction: column;
  }
  .sidebar.open .header--info {
    flex-direction: column;
  }
  .sidebar.open .header--avatar {
    margin: 0;
  }
  .sidebar.open .header--username {
    display: none;
  }
  .sidebar.open .header--more {
    display: block;
    margin-top: 10px;
  }
  .sidebar.open .sidebar-hidden {
    padding: 12px 0;
    background: #fff;
    transform: translateX(0%);
    z-index: 20;
    height: 100vh;
  }
}
